<div class="container">

  <div class="row mt-5 pt-5 align-items-center">
    <div class="col-lg-4 col-md-3 col-xs-12"></div>
    <div class="col-lg-4 col-md-6 col-xs-12 text-cener align-items-center">
      <div class="card" style="border-radius: 30px;">
        <div class="card-body">
          <form #loginForm="ngForm">
            <div class="row">
              <div class="col-12 text-center">
                <img src="assets/images/logo_01.png" alt="SISTEMA DE PESAJE" width="100%">
              </div>
              <div class="col-12">
                <hr>
              </div>
              <div class="col-12 text-center text-primary-encuba">
                <span class="font-lg">Bienvenid&#64;</span><br>
              </div>
              <div class="col-12">
                Ingresa tus credenciales para iniciar sesión.
              </div>
              <div class="col-12 mt-3">
                <small for="username">Nombre de Usuario</small>
                <input type="text" name="username" [(ngModel)]="credentials.username" class="form-control form-control-lg text-center" required>
              </div>
              <div class="col-12 position-relative">
                <small for="password">Contraseña</small>
                <input
                  [type]="showPassword ? 'text' : 'password'"
                  name="password"
                  [(ngModel)]="credentials.password"
                  class="form-control form-control-lg text-center"
                  required
                >
                <button
                  type="button"
                  (click)="showPassword = !showPassword"
                  class="btn btn-link position-absolute"
                  style="right: 10px; top: 42%;"
                >
                  <i class="fa" [ngClass]="showPassword ? 'fa-eye' : 'fa-eye-slash'"></i>
                </button>
              </div>

              <div class="col-12 mt-3 text-center">
                <button class="btn btn-primary btn-lg">
                  Ingresar
                </button>
              </div>
            </div>
          </form>
          <div class="flex flex-col items-start m-2">
            <button
              class=" btn btn-secondary text-white font-bold py-2 px-4 rounded flex items-center"
              (click)="toggleContenido()"
            >
              <i class="fas fa-cog"></i> <!-- Icono de engranaje -->

            </button>

            <div *ngIf="mostrarContenido" class="mt-2 border p-4 rounded bg-gray-100">

              <div>
                <span>Puerto de balanza:
                </span>
                <select [(ngModel)]="puertoSeleccionado" (change)="changePuerto($event)" class="border border-gray-300 rounded p-2">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                </select>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4"></div>
  </div>
</div>
