<div class="container">

  <div class="row mt-5 pt-5 align-items-center">
    <div class="col-lg-4 col-md-3 col-xs-12"></div>
    <div class="col-lg-4 col-md-6 col-xs-12 text-cener align-items-center">
      <div class="card" style="border-radius: 30px;">
        <div class="card-body">
          <form #loginForm="ngForm">
            <div class="row">
              <div class="col-12 text-center">
                <img src="assets/images/logo_01.png" alt="SISTEMA DE PESAJE" width="100%">
              </div>
              <div class="col-12">
                <hr>
              </div>
              <div class="col-12 text-center text-primary-encuba">
                <span class="font-lg">Bienvenid&#64;</span><br>
              </div>
              <div class="col-12">
                Ingresa tus credenciales para iniciar sesión.
              </div>
              <div class="col-12 mt-3">
                <small for="username">Nombre de Usuario</small>
                <input type="text" name="username" [(ngModel)]="credentials.name"
                       class="form-control form-control-lg text-center" required>
              </div>
              <div class="col-12 position-relative">
                <small for="password">Contraseña</small>
                <input
                  [type]="showPassword ? 'text' : 'password'"
                  name="password"
                  [(ngModel)]="credentials.password"
                  class="form-control form-control-lg text-center"
                  required
                >
                <button
                  type="button"
                  (click)="showPassword = !showPassword"
                  class="btn btn-link position-absolute"
                  style="right: 10px; top: 42%;"
                >
                  <i class="fa" [ngClass]="showPassword ? 'fa-eye' : 'fa-eye-slash'"></i>
                </button>
              </div>

              <div class="col-12 mt-3 text-center">
                <button class="btn btn-primary btn-lg" (click)="login()">
                  Ingresar
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
