<router-outlet />
<div *ngIf="isOffline" class="floating-icons">
  <div class="floating-icon">
    <!--    <img src="assets/images/offline-icon.png" alt="Sin conexión" />-->
    <span>Sin conexión a Internet</span>
  </div>
<!--  <div class="floating-icon">-->
<!--    &lt;!&ndash;    <img src="assets/images/offline-icon.png" alt="Sin conexión" />&ndash;&gt;-->
<!--    <span>Sin conexión a Impresora</span>-->
<!--  </div>-->
<!--  <div class="floating-icon">-->
<!--    &lt;!&ndash;    <img src="assets/images/offline-icon.png" alt="Sin conexión" />&ndash;&gt;-->
<!--    <span>Sin conexión a Balanza</span>-->
<!--  </div>-->
</div>
